<app-navbar></app-navbar>
<div *ngIf="enfant" class="mainContainer container-principal">
  <h2>{{ enfant.prenom }}</h2>

  <h3>{{ enfant.date_naissance }}</h3>

  <form (ngSubmit)="ajoutEnfant()">
    <div *ngFor="let restrict of restriction">
      <input
        type="checkbox"
        value="{{ restrict | json }}"
        [id]="restrict.libelle"
        (change)="onChangeRestric($event)"
      />
      <label [for]="restrict.libelle">{{ restrict.libelle }}</label>
    </div>
    <button type="submit" class="btn btn-primary">Et pouf un enfant !</button>
  </form>
  <app-footer></app-footer>
</div>
